<section class="skills" id="nav-skills">
    <div class="wrapper-full skills__wrap">
        <h3 class="skills__title">My Stack</h3>
        <div class="skills__cards">
            <div *ngFor="let item of skills" class="skills__card">
                <div class="skills__card-pic">
                    <img
                        src="{{item?.picSrc}}"
                        alt="Technologies"
                        class="skills__card-thumb"
                    />
                </div>
                <p class="skills__card-desc">{{item?.name}}</p>
            </div>
            <div class="skills__card"></div>
            <div class="skills__card"></div>
            <div class="skills__card"></div>
            <div class="skills__card"></div>
        </div>
    </div>
</section>