<footer class="footer" id="nav-contacts">
    <div class="wrapper">
        <nav class="footer__nav">
            <h2 class="footer__title">Contacts</h2>
            <section class="footer__link-side">
                <h3 class="footer__desc-title">Want to know more or just chat?</h3>
                <p class="footer__desc">You are welcome!</p>
                <ul class="footer__links">
                    <li class="footer__link">
                        <a href="https://t.me/evtkhvch" class="footer__link-logo">
                            <img src="assets/img/telegram.png" alt="Social" class="footer__thumb" />
                        </a>
                    </li>
                    <li class="footer__link">
                        <a href="https://www.linkedin.com/in/kolya-evtikhovich-49638b18a/" class="footer__link-logo">
                            <img src="assets/img/linkedin.png" alt="Social" class="footer__thumb" />
                        </a>
                    </li>
                    <li class="footer__link">
                        <a href="https://www.instagram.com/evtkhvch/" class="footer__link-logo">
                            <img src="assets/img/insta-logo.png" alt="Social" class="footer__thumb" />
                        </a>
                    </li>
                </ul>
            </section>
        </nav>
    </div>
</footer>
