<header appHeaderScroll class="header">
  <div class="wrapper header__wrapper">
    <nav class="header__nav">
      <ul class="header__nav-items">
        <li *ngFor="let item of langCheck" class="header__nav-item">
          <a href="#{{item?.href}}" class="header__link js-scroll">{{item?.name}}</a>
        </li>
      </ul>
      <div class="header__nav-close">
        <span class="header__nav-close-line"></span>
        <span class="header__nav-close-line"></span>
      </div>
    </nav>
    <div class="header__burger burger">
      <span class="burger__line burger__line_first"></span>
      <span class="burger__line burger__line_second"></span>
      <span class="burger__line burger__line_third"></span>
    </div>
  </div>
</header>
