<section class="education" id="nav-education">
  <div class="wrapper-full">
    <div class="education__caption">
      <h2 class="education__title section-title">Education</h2>
    </div>
    <div class="education__info">
      <div class="education__info-side">
        <h3 class="education__info-title">
          Polotsk State University
        </h3>
        <p class="education__info-desc">
          I have higher education. Graduated from university in 2018. 
          Since I entered, I became interested in developing.
          During my studies I had experience in different programming languages. 
          For example Java, C. Had experience with databases such as MSSQL.
        </p>
      </div>
      <div class="education__info-pic">
        <img
          src="assets/img/gerb-psu.jpg"
          alt="PSU"
          class="education__info-thumb"
        />
      </div>
    </div>
  </div>
</section>
